# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# Build outputs
.next/
out/
frontend/dist/
frontend/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
hs_err_pid*
replay_pid*

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
